<div class="container">
  <input type="text" class="form-control" placeholder="Search By Name or User Name" [(ngModel)]="query"><br>
</div>
<div id="mainbox">
    <div class="card" *ngFor="let register of registers | search:'name,username':query">
      <img src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" /><br>
      <h1>{{register.name}}</h1><br>
      <p>User Name:{{register.username}}</p>
      
      <p>Email:{{register.email}}</p>
    </div>  
    </div>
